extends layout/layout
include layout/mixins

block htmlTitle
  title  #{info.index.title}
block importtop
  link(rel="stylesheet", href="css/main.css")
  script(src="//www.google-analytics.com/analytics.js")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48917063-10', 'auto');
      ga('send', 'pageview', '/Landing_escolar_metro_2016/Mira_nuestras_ofertas]');


block importbottom
  script(src="js/vendor/jquery.tinyscrollbar.js")
  script(src="js/app.js")
  
block content
  .boxmodal
    .cont_modal
      a(href="#").btncerrar Cerrar
      #scrollbar1
        .scrollbar
          .track
            .thumb
              .end
        .viewport
          .overview
            p.text TCEA Máxima 136.17%
              | Ejemplo: Por un consumo total de 1,000 nuevos soles, a un plazo de 12 meses, pagará cuotas de S/.135.75, que incluyen el total de intereses de S/.475.47, comisión por envío físico de estado de cuenta mensual S/.7.90 y gastos por seguro de desgravamen mensual S/.4.90. Las cuotas no canceladas en la fecha de pago, estarán sujetas al cobro de penalidad por pago tardío de acuerdo al tarifario vigente. Año 360 días. ITF (0.005%). Para mayor información sobre las tasas, comisiones, penalidades  y gastos aplicables, consultar en Agencia Bancaria, Centros de Tarjetas y Seguros ubicados dentro de las Tiendas Wong, Metro y Paris; llámanos a nuestra Banca Telefónica al 610-7900 en Lima y al 0801-00420 en provincia o ingresa 
              a(href="http://www.bancocencosud.com.pe", target="_blank") www.bancocencosud.com.pe
              | #[br]Condiciones: Promoción exclusiva pagando al 100% con Tarjeta Cencosud. Promoción válida del jueves 4 al jueves 18 de febrero de 2016 y/o hasta agotar stock. Stock 20 unidades / kg. por producto, surtido sujeto a Tienda. Promociones exclusivas para consumo familiar. No acumulable con otras promociones. Fotos referenciales.
            p.text Promoción exclusiva con Tarjeta Bonus. 
              | Suplemento válido del jueves 4 al jueves 18 de febrero de 2016. Precios de ofertas o descuentos sobre precios regulares, no acumulables con otras promociones. Stock  y surtido de acuerdo a disponibilidad de tienda. Productos no disponibles en tiendas Metro: Shell-Miraflores, Grau y Óvalo Balta-Barranco, Angélica Gamarra,  Arenales, San Felipe-Jesús María, Cutervo y El Quinde -Ica, Chincha, El Agustino, Plaza Norte, Hunter y Ejercito-Arequipa, Chilca-Huancayo, Huanuco, México-La Victoria,San Juan de Miraflores, Bellavista-Callao, Perricholi-Rimac, Breña-Martinto, Manco Cápac, Plaza Castilla-Cercado, Alameda Sur y Paseo Chorrillos-Chorrillos, Chosica, La Victoria, Santa Victoria y Grau-Chiclayo, Grimaldo del Solar, Quintanas y Penta-Trujillo, San Eduardo-Piura, Castilla-Lambayeque, Minka y Pacífico-Chimbote. #[br]Fotos referenciales.
  .views#ofertas
    .view
      .container-wrap
        header
          .logo
            a(href="http://www.metro.com.pe",target="_blank", onclick="ga('send', 'event','Landing_escolar_metro_2016','General','btn_logo_metro');")
              img(src="images/logo.png", alt="")
          ul.menu
            li
              a(href="index.html").first Inicio
            li
              a(href="ofertas.html").active Mira nuestras ofertas
            li
              a(href="https://metro.com.pe/catalogo/ver/411", target="_blank", onclick="ga('send', 'event','Landing_escolar_metro_2016','General','btn_ver_catalogo');").last Ver catálogo
          .box-social
            a(href="https://www.facebook.com/sharer/sharer.php?u=http://www.metro.com.pe/metroferiaescolar", onclick="ga('send', 'event','Landing_escolar_metro_2016','General','btn_compartir_en_facebook');").facebook.shared_fb Facebook
            a(href="https://twitter.com/intent/tweet?url=http://bit.ly/1LCkPsg&amp;text=%C2%A1Que%20no%20te%20asuste%20la%20lista%20de%20%C3%BAtiles%20escolares!%20Encuentra%20todo%20al%20mejor%20precio%20en%20la%20Metroferia%20Escolar", onclick="ga('send', 'event','Landing_escolar_metro_2016','General','btn_compartir_en_twitter');").twitter.shared_tw Twitter
        
        p.titleoferta ¡Encuentra 
          span todo al mejor precio
          | &nbsp;en la Metro Feria Escolar!

        .boxoferta
          .boximg
            img(src="images/oferta001.png", alt="")
          .boxtext
            p.text MOCHILA #[br]MÁGICA #[br]STUDIO #[br]MORADA/NEGRA
            p.code 505712 / 505770
            p.antes De S/. 59.90
            p.price S/. 39.90
        .boxoferta
          .boximg
            img(src="images/oferta005.png", alt="")
          .boxtext
            p.text.font14 PACK LONCHERA #[br]TÉRMICA ROJO / AZUL #[br]+ COLORES LARGOS X 12 #[br]+ TOMATODO
            p.code 522130
            p.antes De S/. 34.90
            p.price S/. 19.90

        .boxoferta
          .boximg
            img(src="images/oferta002.png", alt="")
          .boxtext
            p.text MOCHILA #[br]PROM STUDIO #[br]MORADA/NEGRA/ #[br]NEÓN/FUCSIA
            p.code 503669 / 503977 /#[br]503981 / 503684
            p.antes De S/. 59.90
            p.price S/. 9.90
        .boxoferta
          .boximg
            img(src="images/oferta006.png", alt="")
          .boxtext
            p.text LONCHERA #[br]PROM #[br]STUDIO #[br]MORADA
            p.code 503685
            p.antes De S/. 16.90
            p.price S/. 9.90 

        .boxoferta
          .boximg
            img(src="images/oferta003.png", alt="")
          .boxtext
            p.text CARTUCHERA #[br]PROM #[br]STUDIO #[br]MORADA
            p.code 503694
            p.antes De S/. 9.90
            p.price S/. 4.90
        .boxoferta
          .boximg
            img(src="images/oferta007.png", alt="")
          .boxtext
            p.text.font14.lh16 PAPEL #[br]FOTOCOPIA #[br]X 500 HOJAS #[br]STUDIO#[br](SCHROTH)
            p.code 358903
            p.antes De S/. 12.90
            p.price S/. 10.90
        .boxoferta
          .boximg
            img(src="images/oferta004.png", alt="")
          .boxtext
            p.text FORRO #[br]OFICIO #[br]STUDIO #[br]2016
            p.code 518439
            p.antes De S/. 4.50
            p.price S/. 3.50
        .boxoferta
          .boximg
            img(src="images/oferta008.png", alt="")
          .boxtext
            p.text.font14.lh16 CUADERNO #[br]CENCOSUD  #[br]72 HOJAS RAYADO / #[br]RENGLÓN
            p.code 486227 / 486644 /#[br]486230
            p.antes De S/. 2.20
            p.price S/. 1.79

        .logometro
          p.legal
            a(href="#", onclick="ga('send', 'event','Landing_escolar_metro_2016','General','btn_terminos_y_condiciones');")
          img(src="images/logo_metro.png", alt="")
