doctype html
<!--[if lte IE 8]><html lang="es" class="no-js lt-ie9"><![endif]-->
<!--[if gte IE 9]><html lang="es" class="no-js gte-ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="es", class="no-js")
  <!--<![endif]-->
  head
    include includes/head
    block htmlTitle
    include includes/importtop
    block importtop

  body
    include includes/header
    block content
    include includes/footer
    include includes/importbottom
    block importbottom