mixin link(href, name)
  a(class=attributes.class, href=href)= name

mixin title(text,ico)
  if ico
    h2.title-icon #{text}
    img.icon-title(src='#{ico}')
  else
    h2 #{text}

mixin subtitle(text,ico)
  if ico
    h3.title-icon #{text}
    img.icon-title(src='#{ico}')
  else
    h3 #{text}

mixin text(text)
  p.text !{text}

mixin terms(text)
  p.terms !{text}

mixin btn(text,ico)
    .button&attributes(attributes)
      if ico
        .button-icon
      p.button-text !{text}

mixin list(data,link)
  ul.bullets
    each row in data
      li.bullet
        .bullet-icon
        if link
          a(href="#{row.link}").bullet-text.bullet-text-link !{row.text}
        else
          .bullet-text !{row.text}

mixin marcacion(data)
  .marcacion
    .marcado.numero #{data.code}
    .plus +
    .marcado.numero #{data.dial}
    .plus +
    .marcado.texto #{data.pais}
    .plus +
    .marcado.texto #{data.city}
    .plus +
    .marcado.texto #{data.number}

mixin video(code)
  .video-container
    .video-wrapper
      iframe(width='860' height='484' src='http://www.youtube.com/embed/#{code}' frameborder='0' allowfullscreen='')