@font-face {
    font-family: "Vagrounded-Thin";
    src: url("vangrounded-thin/vagroundedstd-thin.eot");
    src: url("vangrounded-thin/vagroundedstd-thin.eot#iefix") format("embedded-opentype"),
    url("vangrounded-thin/vagroundedstd-thin.woff") format("woff"),
    url("vangrounded-thin/vagroundedstd-thin.ttf") format("truetype"),
    url("vangrounded-thin/vagroundedstd-thin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Vagrounded-Bold";
    src: url("vangrounded-bold/vagroundedstd-bold.eot");
    src: url("vangrounded-bold/vagroundedstd-bold.eot#iefix") format("embedded-opentype"),
    url("vangrounded-bold/vagroundedstd-bold.woff") format("woff"),
    url("vangrounded-bold/vagroundedstd-bold.ttf") format("truetype"),
    url("vangrounded-bold/vagroundedstd-bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}