/* Tiny Scrollbar */

#scrollbar1 {
    width: 520px;
    margin: 20px auto 0 auto;
    display: inline-block;
    p{
    	margin: 0px 0 10px 0;
    	font-size: 14px;
    	line-height: 18px;
    	text-align: justify;
    }
}
#scrollbar1 .viewport {
    width: 500px;
    height: 350px;
    overflow: hidden;
    position: relative;
}
#scrollbar1 .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}
#scrollbar1 .scrollbar {
    position: relative;
    background-position: 0 0;
    float: right;
    width: 15px;
    position: relative;
    right: 2px;
}
#scrollbar1 .track {
    height: 100%;
    width: 13px;
    position: relative;
    padding: 0 1px;
}
#scrollbar1 .thumb {
    background-color: #ffffff;
    height: 20px;
    width: 5px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 5px;
    @include border-radius(12px);
    @include transition(background-color 0.2s ease-out);
    &:hover{
    	background-color: #ffffff;
    }
}
#scrollbar1 .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 25px;
}
#scrollbar1 .disable {
    display: none;
}
.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
