@import "compass/css3";
@import "compass/configuration";
@import "reset";
@import "fonts";
@import "tinyscrollbar";

$fontThin: "Vagrounded-Thin", sans-serif;
$fontBold: "Vagrounded-Bold", sans-serif;
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover{
  outline:0px !important;
  @include appearance(none);
}

*{
  @include box-sizing(border-box);
}

.clearfix{
  clear: both;
}
strong, b {
  font-weight: bold;
}

html, body {
  height: 100%;
}

/* Modales */
.boxmodal{
  &.active-modal{
    display: block;
  }
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg_lb.png");
  background-repeat: repeat;
  z-index: 9999;
  display: none;
  .cont_modal{
    width: 724px;
    height: 410px;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -362px;
    margin-top: -205px;
    background-color: #cd1918;
    padding: 25px 15px;
    color:#fff;
    .btncerrar{
      display: block;
      position: absolute;
      right: 15px;
      top:15px;
      width: 24px;
      height: 24px;
      background-image: url("../images/btn_cerrar.png");
      background-repeat: no-repeat;
      font-size: 0;
      text-indent: -9999px;
    }
    .title{
      display: inline-block;
      font-size: 16px;
      font-family: 'Arial';
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0;
      vertical-align: middle;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        right: -32px;
        top:0;
        width: 30px;
        height: 17px;
        background-image: url("../images/ico_bonus.png");
        background-repeat: no-repeat;
      }
    }
    .text{
      font-size: 15px;
      font-family: 'Arial';
      line-height: normal;
      padding: 0 0 15px 0;
      a{
        color:#fff;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  #scrollbar1{
    width: 692px;
    margin: 0 auto; 
    margin-top: 30px;
    .viewport{
      width: 670px;
      height: 330px;
    }
  }
}


.bgimgie8{
  display: none;
  display: block\9;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 106%;
  background-color: #ccc;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}

#home{
  background-image: url("../images/bg_home.jpg");
  background-image: none\9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
#ofertas{
  background-image: url("../images/bg_ofertas.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #ffd401 ;
}

.boxgirl{
  width:584px;
  height: 580px;
  background-image: url("../images/imggirl.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 50%;
  bottom: 0;
  margin-right: -650px;
  background-size: contain;
}

.views{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0;
  position: relative;
  z-index:10;
}

.view{
  .container-wrap{
    width: 850px;
    margin: 0 auto;
    padding-top: 25px;
  }
  header{
    .logo{
      display: inline-block;
      vertical-align: top;
    }
    .menu{
      margin: 0;
      padding: 0 4px;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      margin-top: 5px;
      margin-left: 190px;
      li{
        padding: 0;
        margin: 0;
        display: inline-block;
        a{
          padding: 8px 12px;
          display: block;
          font-size: 14px;
          text-decoration: none;
          color:#e72027;
          font-family: 'Arial';
          //background-color: #ffed00;
          @include transition(all 0.3s ease-in-out);
          background-repeat: repeat;
          //background-color: transparent\9;
          background-image: url("../images/line_menu.png");
          &.active{
            color:#ffed00;
            background-image: url("../images/line_menu_hover.png");
          }
          &.first{
            border-radius: 12px 0px 0px 12px;
            background-image: url("../images/menu_first.png");
            background-position: left;
            &.active{
              color:#ffed00;
              background-image: url("../images/menu_firs_hovert.png");
            }
            &:hover{
              background-color: transparent\9;
              background-image: url("../images/menu_firs_hovert.png");
            }
          }
          &.last{
            border-radius: 0px 12px 12px 0px;
            background-image: url("../images/menu_last.png")\9;
            background-position: right;
            &:hover{
              background-image: url("../images/menu_last_hover.png");
            }
          }
          &:hover{
            background-color: #e72027;
            color:#ffed00;
            @include transition(all 0.3s ease-in-out);
            //background-color: transparent\9;
            background-image: url("../images/line_menu_hover.png");
          }
        }
      }
    }
    .box-social{
      display: inline-block;
      margin-top: 2px;
      margin-left: 10px;
      a{
        width: 32px;
        height: 32px;
        display: inline-block;
        text-indent: -9999px;
        &.facebook{
          background-image: url("../images/social_facebook.png");
          margin-right: 5px;
        }
        &.twitter{
          background-image: url("../images/social_twitter.png");
        }
        &:hover{
          background-position: 0 -32px;
        }
      }
    }
  }
  .content_home{
    padding: 0 30px;
    margin-top: 40px;
    .boxtitular{
      width: 435px;
    }
  }
  .legal{
    margin-top: 50px;
    font-size: 14px;
    a{
      background-image: url("../images/tc_legal.png");
      background-repeat: no-repeat;
      width: 164px;
      height: 21px;
      display: block;
      margin: 0 auto;
    }
  }
  .titleoferta{
    font-size: 26px;
    text-align: center;
    color:#e5110f;
    font-family: $fontBold;
    margin: 30px 0 16px 0;
    span{
      font-size: 30px;
      text-decoration: underline;
    }
  }
  .boxoferta{
    width: 400px;
    text-align: right;
    position: relative;
    display: inline-block;
    margin: 2px 8px;
    vertical-align: top;
    .boximg{
      position: absolute;
      left: 0;
      top:9;
    }
    .boxtext{
      width: 238px;
      height: 236px;
      display: inline-block;
      background-image: url("../images/bg_sticker.png");
      background-repeat: no-repeat;
      text-align: left;
      padding: 45px 20px 0 54px;
      p{
        color:#fff;
      }
      .text{
        font-size: 18px;
        line-height: 20px;
        font-family: $fontThin;
        text-transform: uppercase;
        &.font14{
          font-size: 14px;
        }
        &.lh17{
          line-height: 17px;
        }
        &.lh16{
          line-height: 16px;
        }
      }
      .code{
        font-family: $fontThin;
        font-size: 12px;
        padding: 2px 0;
      }
      .antes{
        font-family: $fontBold;
        font-size: 12px;
        padding: 4px 0;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top: 1px;
          left: -10px;
          width: 87px;
          height: 14px;
          background-image: url("../images/price_antes.png");
        }
      }
      .price{
        font-size: 34px;
        font-family: $fontBold;
      }
    }
  }
  .logometro{
    padding: 0 0 10px 0;
    text-align: left;
    .legal{
      display: inline-block;
      vertical-align: top;
      margin: 0;
      padding-top: 20px;
      padding-left: 20px;
      width: 700px;
      text-align: left;
      a{
        margin: 0;
      }
    }
    img{
      position: relative;
      right: -30px;
      vertical-align: top;
    }
  }
}


.footer-space{
  width: 100%;
  height: 45px;
}
footer{
  @extend .footer-space;
  background-color: #192d43;
  .footer-inner{
    margin: 0 20px;
    height: 45px;
    line-height: 45px;
    &:after{
      content: "";
      clear: both;
    }
  }
  .text{
    font-size:14px;
    color:#fff;
    text-decoration: none;
    &:hover{
      color:#fff;
    }
  }
}
