- var metaPage = {metaTitle:"Metro Feria Escolar",metaDescription:"¡Que no te asuste la lista de útiles escolares! Encuentra todo al mejor precio en Metro.",metaKeywords:"escolar",metaAuthor:'',linkFavicon:"http://metro.com.pe/favicon.ico?v=20141124"}
- var metaFB = {metaTitle: "Metro Feria Escolar",metaDescription:"¡Que no te asuste la lista de útiles escolares! Encuentra todo al mejor precio en Metro.",metaType:'website',metaUrl:"http://metro.com.pe/metroferiaescolar",metaImage:"http://metro.com.pe/metroferiaescolar/images/share-fb.jpg"}
   meta(charset='utf-8')
   //meta(name='viewport' ,content='width=device-width, initial-scale=1')
   meta(name='description',content=metaPage.metaDescription)
   meta(name='keywords',content=metaPage.metaKeywords)
   //meta(name='author',content=metaPage.metaAuthor)
   meta(property='og:title', content="Metro Feria Escolar")
   meta(property='og:description', content='¡Que no te asuste la lista de útiles escolares! Encuentra todo al mejor precio en Metro.')
   meta(property='og:type', content=metaFB.metaType)
   meta(property='og:url', content=metaFB.metaUrl)
   meta(property='og:image', content=metaFB.metaImage)
   meta(name='format-detection', content='telephone=no')
   link(rel='shortcut icon', type='image/x-icon', href=metaPage.linkFavicon)

